/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');

:root {
    scroll-behavior: smooth;
    --cyan: #1edcb6;
}

::-moz-selection {
    color: #000000;
    background: #ffffff;
}

::selection {
    color: #000000;
    background: #ffffff;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Avenir LT Std', sans-serif;
    color: #444444;
    background-color: #fdf8f4;
}

a {
    color: #e03a3c;
    text-decoration: none;
}

a:hover {
    color: #e76668;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir LT Std', sans-serif;
}

.page-title {
    margin: 8rem 0 2rem 0;
    font-weight: normal;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.page-title span {
    color: #FE5266;
    font-weight: bold;
}

.page-subtitle {
    color: #3E82D3;
    font-weight: lighter;
}

.container {
    max-width: 75% !important;
}

.left-bg {
    background: url("../img/left-bg.png") no-repeat;
    background-size: 25%;
    background-position-x: left;
    background-position-y: top;
}

.right-bg {
    background: url("../img/right-bg.png") no-repeat;
    background-size: 25%;
    background-position-x: right;
    background-position-y: center;
}

@media screen and (max-width: 776px) {
    .container {
        max-width: 95% !important;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #FFF3E9;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}

#header.header-scrolled {
    padding: 12px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

#header .logo a {
    color: #111111;
}

#header .logo a span {
    color: #e03a3c;
}

#header .logo img {
    max-height: 60px;
}

/*--------------------------------------------------------------
# Get Started Button
--------------------------------------------------------------*/
#login {
    font-size: 12px;
}

.login-btn {
    margin-left: 30px;
    color: #fff;
    padding: 8px 30px;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 300;
    display: inline-block;
    background: linear-gradient(90deg, #FE5266 1.39%, #F84B7C 48.64%, #F24397 100%);
    border-radius: 50px;
}

.login-btn:hover {
    color: #fff;
}

.profile-img {
    height: 2.5rem;
    margin-left: 70px;
}

@media (max-width: 992px) {
    .login-btn {
        margin: 0 15px 0 0;
        padding: 6px 18px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 60px;
    font-size: 16px;
    font-weight: 300;
    color: #111111;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #e03a3c;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #e03a3c;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #111111;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #111111;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #e03a3c;
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #e03a3c;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
    position: relative;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
}

.section-bg {
    padding: 120px 0;
    color: #fff;
}

.section-bg:before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
}

@media (max-width: 768px) {
    section {
        padding: 20px 0;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 12rem;
}


@media (max-width: 768px) {
    #hero {
        text-align: center;
        padding-top: 58px;
        height: 65vh;
    }

    #hero .banner-image {
        width: 100%;
    }
}

#hero .social-icons {
    display: flex;
    position: absolute;
    top: 90%;
    left: 5%
}

#hero .social-icons img {
    height: 20px;
    width: auto;
    margin-right: 1rem;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/*video*/
video {
    border: 1px solid #fff;
    border-radius: 16px;
}

.about .about-content {
    padding: 0 5rem;
    font-weight: normal;
}

.about .about-content h1 {
    font-weight: lighter;
    color: #000;
    margin-bottom: 2rem
}

.about .about-videos {
    padding: 4rem 1rem;
}

.about .about-videos h3 {
    font-weight: lighter;
    margin-bottom: 2rem;
}

.about .free-sessions {
    padding: 4rem 1rem;
}

@media (max-width: 768px) {
    .about img {
        height: 90%;
    }

    .about .about-content {
        padding: 1rem;
        margin: 1rem 0;
    }

    .about .about-videos {
        padding: 0rem 1rem;
    }

    .about .free-sessions {
        padding: 0rem 1rem;
    }
}


.about .free-sessions .nav-pills .nav-link {
    color: #8C8C8C;
    cursor: pointer;
    margin-bottom: 1.5rem;
    font-size: 18px;
    font-weight: lighter;
}

.about .free-sessions .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000 !important;
    background-color: unset !important;
    font-weight: normal;
    font-size: 19px;
}

.about .free-sessions .nav-pills .nav-link span {
    display: flex;
    align-items: center;
    color: #C4C4C4;
}

.about .free-sessions .nav-pills .nav-link.active span {
    color: #9E57CD;
}

.about .free-sessions .nav-pills .nav-link span svg {
    margin-right: 0.75rem;
    z-index: 2;
    background: #fdf8f4;
}

.about .free-sessions .nav-pills .nav-link span svg.fa-circle {
    display: block;
}

.about .free-sessions .nav-pills .nav-link span svg.fa-play-circle {
    display: none;
}

.about .free-sessions .nav-pills .nav-link.active span svg.fa-circle {
    display: none;
}

.about .free-sessions .nav-pills .nav-link.active span svg.fa-play-circle {
    display: block;
}

/*--------------------------------------------------------------
# Faq
--------------------------------------------------------------*/
.faq-section .image-section img {
    width: 100%;
    border-radius: 16px;
}

.faq-section .accordion .accordion-button {
    position: relative;
    background-color: #fdf8f4;
    color: #000;
    font-weight: bold;
    border: unset;
    font-size: 1.2rem;
}

.faq-section .accordion .accordion-button:focus {
    border-color: unset;
    box-shadow: unset;
}

.faq-section .accordion .accordion-button:not(.collapsed) {
    border-color: unset;
    box-shadow: unset;
}

.faq-section .accordion .accordion-body {
    background-color: #fdf8f4;
    color: unset;
}

.faq-section .accordion .accordion-header {
    background-color: #fdf8f4;
    color: unset;
}

.faq-section .accordion .accordion-item {
    border-top: none;
    border-bottom: 1px solid rgba(254, 82, 102, 0.4);
    border-right: none;
    border-left: none;
    font-size: 1.1rem;
}

.faq-section .accordion .accordion-button:not(.collapsed)::after {
    background-image: url("../img/accordion-close.svg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: -25%;
    background-size: 2.6rem;
    right: 2%;
}

.faq-section .accordion .accordion-button::after {
    background-image: url("../img/accordion-open.svg");
    transition: ease-in;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 19%;
    background-size: 2.5rem;
    left: 90%;
}

@media screen and (max-width: 768px) {
    .faq-section .accordion .accordion-button:not(.collapsed)::after {
        background-size: 2rem;
        right: -2%;
        top: -50%
    }

    .faq-section .accordion .accordion-button::after {
        background-size: 2rem;
        left: 93%;
    }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .wrapper {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.testimonial-img-container {
    width: 22rem;
    height: 25rem;
    position: relative;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .testimonial-img-container {
        margin: unset;
    }
}

.testimonial-img-container .box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
}

.testimonial-img-container .stack-top {
    z-index: 0;
    margin: 20px;
    background-color: #FE5268;
    border-radius: 16px;
}

.testimonials .carousel {
    width: 90%;
    margin: 0 auto;
}

.testimonials .text {
    display: flex;
    align-items: center;
    padding: 8rem 0 2rem 0;
    background-image: url("../img/quote.svg");
    background-position-y: top;
    background-position-x: 15%;
    background-size: 8rem;
    background-repeat: no-repeat;
}

.testimonials .carousel .testimonial-content {
    color: #F24397;
    font-size: 16px;
    margin-bottom: 2rem;
}

.testimonials .carousel .testimonial-client {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.testimonials .wrapper .slick-dots li button:before {
    font-size: 20px;
    color: white;
}

.testimonials .left-arrow {
    position: absolute;
    bottom: -15%;
    left: 44%;
}

.testimonials .right-arrow {
    position: absolute;
    bottom: -15%;
    right: 42%;
}

/*--------------------------------------------------------------
# Home Blogs
--------------------------------------------------------------*/
.home-blogs h3 {
    color: #000;
}

.blog-wrapper {
    flex-direction: row;
}

.blog-card {
    background: #FFFFFF;
    border: 1px solid rgba(77, 77, 77, 0.2);
    box-sizing: border-box;
    box-shadow: 2px 4px 28px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .blog-wrapper {
        flex-direction: column;
    }

    .blog-card {
        margin-right: unset;
    }
}

.blog-card .card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 15rem;
}

.blog-card .card-title {
    padding: 0.5rem 0;
    color: #FE5266;
    font-weight: lighter;
}

.blog-card .card-text {
    font-weight: lighter;
    padding: 0 0 2rem 0;
    border-bottom: 1px solid #000;
}

.blog-card .blog-icons {
    display: flex;
}

.blog-card .blog-icons a {
    margin-right: 1rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    color: #fff;
    font-size: 14px;
    background: black;
}

footer .footer-top {
    padding: 60px 0 30px 0;
    background: #FFF3E9;
    color: black;
}

footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

footer .footer-top .align-right {
    text-align: right;
}

footer svg {
    color: black;
}

footer .footer-top p {
    font-size: 1rem;
}

footer .footer-content {
    width: 60%;
}

footer #copyright {
    background-color: black;
}

footer h2, footer h1 {
    font-weight: lighter;
}

@media (max-width: 768px) {
    footer .footer-top .align-right {
        text-align: left;
    }

    footer .footer-content {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.dashboard-content .badge {
    background-color: #dcdcdc !important;
    color: #000000;
    font-weight: lighter;
    margin: 0.25rem;
}

.dashboard-content .benefits li {
    font-size: x-large;
    font-weight: lighter;
}

.dashboard-content .trainer {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.dashboard-content .trainer h4 {
    border-bottom: 2px solid black;
    width: max-content;
    padding-bottom: 0.1rem;
}

/*--------------------------------------------------------------
# Blogs
--------------------------------------------------------------*/
.blogs-carousel {
    background-color: #FFF3E9;
    padding: 5rem 0;
}

#blogsCarousel img {
    width: 22rem;
    object-fit: cover;
    margin: 0 auto;
}

#blogsCarousel .slick-dots li button:before {
    margin-top: 1rem;
    opacity: 0.5;
    color: #FE5266;
    font-size: 15px;
}

#blogsCarousel .slick-dots li.slick-active button:before {
    opacity: 1;
}

@media (max-width: 768px) {
    .blogs-carousel-content {
        margin-top: 3rem;
    }
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.dashboard-carousel .slick-slide img {
    width: 100%;
}

.dashboard-carousel .left-arrow {
    position: absolute;
    left: -7%;
    top: 45%;
}

.dashboard-carousel .right-arrow {
    position: absolute;
    right: -7%;
    top: 45%
}

.dashboard-carousel .card {
    margin: 0.5rem 0.75rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.dashboard-carousel .card .card-header a {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dashboard-carousel .card .card-tag {
    width: 3rem;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 10%;
    background-image: radial-gradient(circle at 1.5rem 7.8rem, rgba(204, 0, 0, 0) 3.2rem, #D62A26 2rem)
}

.dashboard-carousel .card .card-tag p {
    padding: 0.2rem;
    color: #ffffff;
    text-align: center;
    font-weight: lighter;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.dashboard-carousel .card .card-badge {
    width: 7rem;
    height: 1.5rem;
    position: absolute;
    top: 2%;
    left: 0;
    background: #F64C3B;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    padding: 0 1rem;
}

.dashboard-carousel .card .card-header {
    padding: 0 !important;
    border-radius: 16px;
    position: relative;
}

.dashboard-carousel .card-body {
    background: #fff;
    width: 100%;
    vertical-align: top;
    padding: 0.2rem 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.dashboard-carousel .card-content {
    color: #000000;
    padding: 15px;
}

.dashboard-carousel .card-text p {
    font-size: 20px;
    font-weight: normal;
}


/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/
.about-banner {
    width: 60%;
}

#aboutHeading {
    padding: 10px 0 20px 0;
}

#aboutHeading h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 74px;
    text-align: center;
}

#aboutHeading h2 span {
    color: #FE5266;
}

#aboutPageContent p {
    font-family: Avenir LT Std;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}

.know-btn {
    color: #fff;
    padding: 8px 30px;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 300;
    display: inline-block;
    background: linear-gradient(90deg, #FE5266 1.39%, #F84B7C 48.64%, #F24397 100%);
    border-radius: 50px;
}

.know-btn:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .about-banner {
        width: 100%;
    }

    .aboutPage-content {
        padding-top: 1rem;
    }

    #aboutHeading h2 {
        font-size: 32px;
    }
}

.teachers .teacher-name-carousel {
    display: flex;
    align-items: center;
}

.teachers .teacher-name-carousel .slick-slide {
    margin: 0.7rem 0;
}

.teachers .teacher-name-carousel .slick-slide {
    font-size: 20px;
    color: #8C8C8C;
    font-weight: lighter;
}

.teachers .teacher-name-carousel .slick-slide.slick-current {
    font-size: 20px;
    color: #FE5266 !important;
    font-weight: lighter;
}

.teachers .teacher-name-carousel .slick-slide div svg {
    margin-right: 1rem;
    visibility: hidden;
}

.teachers .teacher-name-carousel .slick-slide.slick-current svg {
    margin-right: 1.2rem;
    visibility: visible;
}

.teachers .teacher-card {
    display: flex;
    justify-content: end;
    background: #fdf8f4;
    color: #000000;
    width: 100%;
    height: 100%;
}

.teachers .teacher-gray-card {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 4rem 2rem 4rem 1rem;
    margin-top: 4rem;
    margin-left: 4rem;
    background: #ece8e6;
    border-radius: 16px;
    color: #4d4d4d;
    width: 90%;
    height: 90%;
}

.teachers .left-arrow {
    position: absolute;
    bottom: -8%;
    right: 7%;
}

.teachers .right-arrow {
    position: absolute;
    bottom: -8%;
    right: 0;
}

@media (max-width: 768px) {
    .teachers {
        padding: 5rem 0;
    }

    .teachers .teacher-gray-card {
        display: unset;
        justify-content: unset;
        margin-top: 4rem;
        margin-left: 4rem;
        width: 100%;
    }

    .teachers .left-arrow {
        position: absolute;
        bottom: -5%;
        right: 50%;
    }

    .teachers .right-arrow {
        position: absolute;
        bottom: -5%;
        right: 40%;
    }
}

.teacher-name h4 {
    margin-top: 8rem;
    margin-left: -1rem;
    font-weight: bold;
    text-align: center;
}

.teacher-img-container {
    position: absolute;
    width: 11rem;
    height: 12rem;
    margin: 20px;
    top: -4rem;
    left: -4rem;
}

.teacher-img-container img {
    border-radius: 16px;
}

@media screen and (max-width: 768px) {
    .teacher-img-container {
        margin: unset;
    }
}

.teacher-img-container .box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
}

.teacher-img-container .stack-top {
    z-index: 0;
    margin-top: 3.7rem;
    background-color: #FE5268;
    border-radius: 16px;
    margin-left: 0.7rem;
    height: 75%;
}